<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai.dream.shall.mapper.ResourceShallMapper">
    <select id="queryResource" parameterType="java.util.Map" resultType="java.util.Map">
        select * from resource_shall where res_id = #{res_id} and state = 'U'
    </select>

    <select id="queryAllResource"  resultType="java.util.Map">
        select * from resource_shall where  res_id like concat('%',#{res_id},'%')  and res_name like concat('%',#{res_name},'%')  and  state = 'U'  and level like concat('%',#{level},'%')  limit #{start},#{count}
    </select>

    <select id="queryResUser" parameterType="java.util.Map" resultType="java.util.Map">
        select * from resource_user where user_id = #{user_id} and state = 'U'
    </select>

    <select id="getKuc" parameterType="java.util.Map" resultType="java.util.Map">
        select * from redkuc where id = #{id}
    </select>

    <insert id="saveResource" parameterType="java.util.Map">
        insert into resource_shall(res_id, res_name, res_url, res_check, create_date,expire_date, state,level ) values(#{res_id}, #{res_name}, #{res_url}, #{res_check}, #{create_date},#{expire_date}, #{state}, #{level})
    </insert>

    <insert id="saveResUser" parameterType="java.util.Map">
        insert into resource_user(user_id, shall_times, state, vip_times) values(#{user_id}, #{shall_times}, #{state}, #{vip_times})
    </insert>

    <insert id="saveFromExcel" parameterType="java.util.List">
        insert into resource_shall(res_id, res_name, res_url, res_check, create_date,expire_date, state, level)
        values
        <foreach collection="list" item="item" index="index" separator="," >
           (
                #{item.resId},
                #{item.resName},
                #{item.resUrl},
                #{item.resCheck},
                #{item.createDate},
                #{item.expireDate},
                #{item.state},
                #{item.level}
            )
        </foreach>
    </insert>

    <update id="delResById" parameterType="java.util.List">
        update resource_shall set state = 'E' where res_id in
        <foreach collection="list" item="res_id" open="(" separator="," close=")">
            #{res_id}
        </foreach>
    </update>

    <update id="updateResource" parameterType="java.util.Map">
        update resource_shall set res_name = #{res_name},res_url = #{res_url}, res_check = #{res_check} , create_date = #{create_date},state = #{state}, level =#{level} where res_id = #{res_id}
    </update>

    <update id="updateResUser" parameterType="java.util.Map">
        update resource_user set shall_times = #{shall_times}, vip_times = #{vip_times}, state = #{state} where user_id = #{user_id}
    </update>

</mapper>